<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtons.mblog.modules.mapper">

    <select id="findByUserIdAndPostId" resultMap="com.mtons.mblog.modules.entity.Favorite">
      select * from mto_favorite
       where
        user_id=#{userId}
        and
        post_id=#{postId}
    </select>

    <select id="findAllByUserId" resultMap="com.mtons.mblog.modules.entity.Favorite">
        select * from mto_favorite
       where
        user_id=#{userId}
    </select>

    <delete id="deleteByPostId" parameterType="Long">
         delete from mto_favorite where id = #{postId}
    </delete>

    <insert id="save" parameterType="com.mtons.mblog.modules.entity.Favorite">
        insert into mto_favorite(id,created,created,user_id)
        value
        (#{id},#{created},#{created},#{user_id})
    </insert>

    <delete id="delete" parameterType="Favorite">
         delete from mto_favorite where id = #{postId}
    </delete>


</mapper>